body {
    background: #BBEC8F;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #159C00;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.text {   
    font-weight: bold;
    padding: 10px;
    width: 600px;
    height: 200px;
    text-align: justify;
}

.heading {
    font-family: 'Erica One', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

.subtitle {
    font-family: 'Erica One', cursive;
    font-size: 40px;
    margin-top: -75px;
}

.flex-container {
    background: #82E629;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.navbar {
    background: #159C00;
    color: #82E629;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 35px;

}

.headerimage {
    max-height: 250px;
    margin-left: 10px;    
}

.header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.divider {
    background: #159C00;
    color: #82E629;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 30px;
}

.port-container {
    margin-top: 30px;
    display: flex;
}

.port-img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    
    position: relative;
    width: 50%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    
    background-color: #159C00;
    color: #DCE9D1;
    font-size: 20px;
    padding: 16px 32px;
}

.port-img:hover {
    opacity: 0.5;
}

.port-img:hover .middle {
    opacity: 1;
}

/* .hovertext {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} */