body {
    background: #BBEC8F;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #159C00;
}

img {
    max-width: 100%;
    max-height: 100%;
}

 .list-container {
    column-count: 2;
 }
 .list-container ul {
    list-style: circle;
 }
 
.text-container {
    display: Flex;
    flex-direction: column;
    align-items: center;
}

.text {   
    width: 600px;
    text-align: justify;
    margin: -10px;
}

.heading {
    font-family: 'Erica One', cursive;
    font-size: 80px;
    margin-bottom: 31px;
}

.subtitle {
    font-family: 'Erica One', cursive;
    font-size: 40px;
    margin-top: -75px;
}

.flex-container {
    background: #82E629;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.navbar {
    background: #159C00;
    color: #82E629;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 35px;
}

.headerimage {
    max-height: 250px;
    margin-left: 10px;    
}

.header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.divider {
    background: #159C00;
    color: #82E629;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 30px;
}

.port-container {
    margin-top: 30px;
    display: flex;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.port-img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    width: 50%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    
    background-color: #159C00;
    color: #DCE9D1;
    font-size: 20px;
    padding: 16px 32px;
}

.port-img:hover {
    opacity: 0.5;
}

.port-img:hover .middle {
    opacity: 1;
}

/* unvisited link */
a:link {
    color: #47D630;
  }
  
  /* visited link */
  a:visited {
    color: #0D6200;
  }
  
  /* mouse over link */
  a:hover {
    color: #68DE56;
  }
  
  /* selected link */
  a:active {
    color: #118000;
  }